* {
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 205, 214);
    
    line-height: 40px;
}


/* header */

.containerhead {
    background-color: white;
    border-radius: 5px;

}

#logo {
    
}

h1 {
    display: inline-block;
}


/* main */
main{
    width: 1000px;
}



/* sezione 1 */

.containermenu {
    background-color: white;
    margin-top: 40px;
    

}

#pulsante1{
    background-color:  #45ABEA;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border-color:  #45ABEA;
    border-style: double;
    color: white;
}

#pulsante2 {
    background-color :white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    color: grey;
    border-color: rgb(214, 210, 210);
    border-style: double;
}






/* sezione 2 lista */

.containerlista{
    background-color: white;
    border-radius: 5px;
    
}

ul {
      list-style: none;
      margin-top: 0px;
}


span {
    padding: 5px;
    border-radius: 10px;
    color: white;

}


.editorial {
    background-color: #45ABEA;
   
}

#sales {
    background-color: #B0C926;
}
#mobile{
    background-color: #F29E33;
}

#recruiting{
    background-color: #64C0A9;
}

#goals{
    background-color: #9C72E4;
}

#website{
    background-color: #D863A1;
}








