* {
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 205, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
}


/* header */

.containerhead {
    background-color: white;
    border-radius: 5px;

}

#logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align:sub;
    margin: 0px;
}
    
    

/* main */
main{
    width: 800px;
    margin-left: 260px;
}


/* sezione 1 */

.containermenu {
    background-color: white;
    margin-top: 40px;
}

#pulsante1{
    background-color:  #45ABEA;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border-color:  #45ABEA;
    border-style: double;
    color: white;
    margin-left: 42px;
}

#pulsante2 {
    background-color :white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    color: grey;
    border-color: rgb(214, 210, 210);
    border-style: double;
    
    
}
  

/* sezione 2 lista */

.containerlista{
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 5px;
}

h2 {
    margin: 0;
}

.listainterna{
    padding: 0px;
}
      



/* layout caselle */
span {
    padding: 5px;
    border-radius: 10px;
}
    
.editorial {
    background-color: #45ABEA;
}

#sales {
    background-color: #B0C926;
}
#mobile{
    background-color: #F29E33;
}

#recruiting{
    background-color: #64C0A9;
}

#goals{
    background-color: #9C72E4;
}

#website{
    background-color: #D863A1;
}

    color: white;
    
    
    





    
    









   






